<!--Footer Section-->
    <footer id="footer" class="footer section-padding gray-bg">
        <div class="container text-center">

            <!--Footer Logo-->
            <div class="footer-logo mb-25 wow fadeInUp" data-wow-duration="1.5s">
                <a class="scroll-top" href="#intro">
                    <%= image_tag 'monolith_black_on_white.png', :alt => 'monolith' %>
                </a>
            </div>
            <!--End Footer Logo-->

            <!-- Copyright -->
            <p class="copyright mb-25">
                &copy; 2016 <a><b>Monolith Consulting</b><br></a>All Rights Reserved.<br>
            </p>
            <!-- Copyright -->

            <!-- Social -->
            <ul class="social">
                <li>
                    <a href="https://www.twitter.com/kennyfrc" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/kenncostales" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
            <!-- End Social -->

        </div>
    </footer>
<!-- End Footer Section-->