<!-- Header -->
    <div id="header" class="header">
        <div class="header-inner">
            <!-- Logo -->
            <div class="logo">
                <a href="#">
                    <%= image_tag 'monolith_white_on_black.png' %>
                </a>
            </div>
            <!-- End Logo -->

            <!--Navigation Icon-->
            <div class="nav-menu-icon">
                <a><i class="fa fa-bars"></i></a>
            </div>
            <!--End Navigation Icon-->

            <!-- Navigation Menu -->
            <div class="nav-menu">
                <ul class="nav-menu-inner">
                    <li><a><i class="fa fa-phone-square left"></i>+65 98 27 64 85</a></li>
                    <li><a><i class="fa fa-envelope left"></i>kenn@askmonolith.com</a></li>
                </ul>
            </div>
            <!-- End Navigation Menu -->
        </div>
    </div>
<!-- End Header -->